::view-transition-group(header) {
  z-index: 1;
}

::view-transition-group(nav) {
  z-index: 1;
}

:root {
  view-transition-name: none;
}

:where([data-sonner-toaster]) {
  @apply !font-sans;
  & :where([data-title]) {
    @apply font-medium text-sm;
  }
}
::view-transition-group(pop-card) {
  animation-duration: 0.3s;
  animation-timing-function: ease;
}
::view-transition-group(pop-image) {
  animation-duration: 0.3s;
  animation-timing-function: ease;
}
::view-transition-group(pop-title) {
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

[data-overlayscrollbars-viewport] {
  z-index: auto !important;
}

/* ::-webkit-scrollbar {
  display: none;
} */

.scroll::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  z-index: 999999;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
  border-radius: 9999px;
  background-clip: content-box;
}

.scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.dark .scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.44);
}

main::-webkit-scrollbar {
  display: none;
}

/* main::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}
main:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
} */
