::view-transition-group(header) {
  z-index: 1;
}

::view-transition-group(nav) {
  z-index: 1;
}

:root {
  view-transition-name: none;
}

::view-transition-group(pop-card) {
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

[data-overlayscrollbars-viewport] {
  z-index: auto !important;
}

::-webkit-scrollbar {
  display: none;
}
/*
::-webkit-scrollbar {
  background-color: transparent;
  width: 11px;
  z-index: 999999;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border: 3px solid transparent;
  border-radius: 9999px;
  background-clip: content-box;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.44);
}

main::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}
main:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
} */
